.container main {
  display: block;
  margin: 2em auto;
  margin-top: 4em;
  width: 90%;
}

.infoContainer {
  margin: 4em auto;
  height: auto;
}

.infoContainer header {
  display: block;
  margin-top: 6em;
}

.actions {
  display: flex;
  margin-top: 1em;
}

.actions a {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 1em;
  border-radius: 0.25rem;
}

.actions .github {
  background: black;
}

.actions .github svg {
  margin-right: 0.1em;
}

.actions .live {
  background: red;
  margin-left: 2em;
}

.descriptionContainer {
  margin-top: 2em;
}

.descriptionContainer article {
  max-height: 30em;
  overflow-y: auto;
}

.descriptionContainer article p {
  text-align: justify;
}

.typeAndStackContainer {
  display: block;
  margin-top: 4em;
}

.projectType h3 {
  margin-bottom: 0.5em;
}

.techStackList {
  margin-top: 1.5em;
}

.techStackList ul li {
  margin-top: 0.5em;
}

@media (min-width: 600px) {
  .container main {
    width: 40em;
  }

  .infoContainer header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .typeAndStackContainer {
    display: flex;
    justify-content: space-between;
  }

  .techStackList {
    margin-top: 0;
  }
}
