.postCard {
  background-color: var(--color-darker-grey);
  margin-top: 1em;
  padding: 1em;
  border-radius: 0.25rem;
}

.postCard a {
  color: #fff;
}

.postCard a div {
  color: var(--color-grey);
}

.postCard a p {
  margin-top: 1em;
}
