.container {
  display: block;
  margin: 2em auto;
  width: 90%;
}

.aboutContainer {
  display: block;
  margin: 2em 0;
}

.aboutContainer p {
  margin: 1em 0;
}

.navContainer nav ul {
  display: flex;
  justify-content: space-between;
}

.navContainer nav ul li a {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--color-grey);
}

.navContainer nav ul li a svg {
  color: var(--color-blue);
  margin-right: 0.5em;
}

.skillsContainer {
  margin-top: 4em;
}

.skillsContainer div {
  display: block;
}

.skillsList {
  margin: 1em 0;
}

.skillsList ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5em;
}

.skillsList ul li {
  background: #151b24;
  padding: 1em;
  text-align: center;
}

.skillsDescription h2 {
  margin-top: 2em;
}

.skillsDescription article {
  margin: 2em 0;
}

.contactContainer,
.featuredProjectsContainer,
.featuredBlogPostsContainer {
  margin-top: 6em;
}

.contactContainer header {
  margin-bottom: 2em;
}

.skillsContainer header span,
.contactContainer header span,
.featuredProjectsContainer header span,
.featuredBlogPostsContainer header span {
  display: inline-block;
  width: 10em;
  height: 0.2em;
  background-color: #ddd;
}

.contactContainer ul li {
  margin-bottom: 1em;
}

.contactContainer ul li a,
.contactContainer ul li {
  display: flex;
  align-items: center;
}

.contactContainer ul li a svg,
.contactContainer ul li svg {
  width: 1.5em;
  height: 1.5em;
  margin-right: 1em;
}

.mailContact span {
  width: 80%;
  word-break: break-all;
}

.featuredProjectsContainer header {
  margin-bottom: 1em;
}

@media (min-width: 609px) {
  .container {
    width: 40em;
  }
}

@media (min-width: 440px) {
  .navContainer nav ul li a {
    flex-direction: row;
  }
}
