.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14em, 1fr));
  grid-gap: 2em;
  margin: 1em 0;
}

.container main {
  width: 100%;
  background: #333842;
  box-shadow: 4px 4px 15px 2px black;
  border-radius: 1rem;
}

.imageContainer img {
  width: 100%;
  border-radius: 1rem;
}

.descriptionContainer {
  margin: 1em auto;
  padding: 0 1em;
}

.actionsContainer {
  display: flex;
}

.actionsContainer a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-radius: 0 0 1rem 1rem;
  background: var(--color-grey);
  color: #fff;
  transition: all 0.8s;
}

.actionsContainer a:hover {
  background: var(--color-blue);
}
