.container header {
  display: block;
  text-align: center;
}

.container header img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

@media (min-width: 388px) {
  .container {
    width: 100%;
  }

  .container header {
    display: flex;
    align-items: center;
    text-align: left;
  }

  .container header h1 {
    margin-left: 1em;
  }
}