.container header {
  display: block;
  text-align: start;
  margin-top: 6em;
}

.container header img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.container header div h2 {
  font-size: 1rem;
  color: var(--color-grey);
}

@media (min-width: 400px) {
  .container {
    width: 100%;
  }

  .container header {
    display: flex;
    align-items: center;
  }

  .container header div {
    margin-left: 1em;
  }
}
