.container nav {
  width: 90%;
  display: block;
  margin: 0 auto;
}

.imageContainer img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.container nav ul {
  display: flex;
}

.container nav ul li svg {
  color: var(--color-blue);
}

.container nav ul li a {
  color: var(--color-grey);
}
