.container {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
}

.container nav {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8em 0;
  background-color: #4c5770;
  text-align: center;
  box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

.container nav ul li {
  display: inline-block;
  width: 4em;
}

container nav ul li:not(:first-child) {
  margin-left: 1em;
}

.container nav ul li a {
  color: #fff;
}

@media (min-width: 500px) {
  .container nav ul li {
    display: inline-block;
    width: 5em;
  }

  .container nav ul li:not(:first-child) {
    margin-left: 2em;
  }
}
