* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-blue: #0077b5;
  --color-dark: #222733;
  --color-grey: #5c6987;
  --color-darker-grey: #31384a;
}

html,
body {
  font-family: "Merriweather Sans", sans-serif;
  background-color: var(--color-dark);
  color: #fff;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 1rem;
  line-height: 1.2;
}

@media (min-width: 730px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
  color: var(--color-blue);
}

p {
  line-height: 1.8em;
}

li {
  list-style: none;
}
